/* Stylesheet used for calculator */

.container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.numeral,
.decimal,
.signage,
.operator,
.clearall,
.backspace {
    flex: 1;
}

.calculator {
    display: flex;
    flex-direction: column;

    height: 300px;
    border: 2px solid black;
}

.windows {
    display: flex;
    flex-direction: column;

    flex: 1 0 auto;
}

/* We want the text aligned to the RHS */

.upper-window {
    font-size: 20px;
    text-align: right;
    background-color: aquamarine;
    width: 26em;
}

.lower-window {
    font-size: 36px;
    text-align: right;
    background-color: rgb(196, 156, 233);
}

.buttons {
    display: flex;
    flex-direction: column;

    flex: 3 0 auto;
}

.upper-buttons,
.lower-buttons {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.reset-button,
.delete-button {
    display: flex;
    flex: 1;
}

.grid {
    display: flex;
    flex-direction: column;
    flex: 4 0 auto;
}

.equals-button {
    flex: 1 0 auto;
    display: flex;
}

.grid-row {
    display: flex;
    flex-direction: row;
}